@model SensorFusion.ViewModels.SearchOperationModel

@{
	ViewData["Title"] = "Home Page";
}


<!--===============================================================================================-->
<link rel="icon" type="image/png" href="~/Table_Fixed_Header/images/icons/favicon.ico" />
<!--===============================================================================================-->
@*<link rel="stylesheet" type="text/css" href="~/Table_Fixed_Header/vendor/bootstrap/css/bootstrap.min.css">*@
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Table_Fixed_Header/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Table_Fixed_Header/vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Table_Fixed_Header/vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Table_Fixed_Header/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="~/Table_Fixed_Header/css/util.css">
<link rel="stylesheet" type="text/css" href="~/Table_Fixed_Header/css/main.css">
<!--===============================================================================================-->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>







<body>



	<div class="container">
		<div class="search">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="form-section">
							<div class="row">
								<form role="form" asp-controller="home" asp-action="Index" method="post">
									<div class="col-md-3">
										<div class="form-group">
											<div class="serchtile">Hospital</div>
											<label class="sr-only" for="looking">Hospital</label>
											@Html.DropDownListFor(m => m.searchFields.hospitalID, Model.searchFields.hospitals, "Select a hospital...", new { id = "HospitalDropDown", @class = "form-control selectpicker", @onchange = "UpdateRooms()" })
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<div class="serchtile">Room Number</div>
											<label class="sr-only" for="looking">Room Number</label>
											@Html.DropDownListFor(m => m.searchFields.roomNo, Model.searchFields.rooms, new { id = "RoomDropDown", @class = "form-control selectpicker" })
										</div>
									</div>
									<div class="col-md-2">
										<div class="form-group">
											<div class="serchtile">Operation From</div>
											<div class='input-group date'>
												@Html.TextBoxFor(model => model.searchFields.fromDate, new { type = "date", @class = "form-control" })
												<span class="input-group-addon">
													<span class="glyphicon glyphicon-calendar"></span>
												</span>
											</div>
										</div>
									</div>
									<div class="col-md-2">
										<div class="form-group input-group-sm">
											<div class="serchtile">Operation To</div>
											<div class='input-group date'>
												@Html.TextBoxFor(model => model.searchFields.toDate, new { type = "date", @class = "form-control" })
												<span class="input-group-addon">
													<span class="glyphicon glyphicon-calendar"></span>
												</span>
											</div>
										</div>
									</div>

									<div class="form-group">
										<div class="col-md-7">
											<div class="serchtile">Staff</div>
											<div class="input-group">
												<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
												@Html.DropDownListFor(model => model.searchFields.staffIDs, Model.searchFields.staff, new { id = "StaffDropDown", multiple = "multiple" })
											</div>
										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<div class="serchtile">Patient</div>
											<label class="sr-only" for="looking">Patient</label>
											@Html.DropDownListFor(m => m.searchFields.patientID, Model.searchFields.patients, "Select a patient...", new { id = "PatientDropDown", @class = "form-control selectpicker" })
										</div>
									</div>

									<div class="col-md-2">
										<br>
										<button type="submit" id="submit" class="btn btn-default btn-primary">Search</button>

									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>







	<style>

		.search .form-section {
			background: rgba(0,0,0,0.6);
			border: 2px solid #414141;
			border-radius: 5px;
			padding: 10px;
		}

		.serchtile {
			color: #fff;
		}
	</style>





	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100 ver5 m-b-110">
					<div class="table100-head">
						<table>
							<thead>
								<tr class="row100 head">
									<th class="cell100 column4">Hospital</th>
									<th class="cell100 column2">OR number</th>
									<th class="cell100 column3">Patient</th>
									<th class="cell100 column5">Date</th>
									<th class="cell100 column1 ">Staff</th>
								</tr>
							</thead>
						</table>
					</div>

					<div class="table100-body js-pscroll">
						<table>
							<tbody>

								@foreach (var operation in Model.ViewOperations)
								{
									<tr class="row100 body" onclick="testFunction(@operation.operationID)">
										<td class="cell100 column4">@operation.hospitalName</td>
										<td class="cell100 column2">@operation.roomNO</td>
										<td class="cell100 column3">@operation.patient.firstName @operation.patient.lastName</td>
										<td class="cell100 column5">@operation.date.ToString("yyyy-MM-dd HH:mm:ss")</td>
										<td class="cell100 column1">@operation.staff</td>
									</tr>
								}

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!--===============================================================================================-->
	<script src="~/Table_Fixed_Header/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/Table_Fixed_Header/vendor/bootstrap/js/popper.js"></script>
	<script src="~/Table_Fixed_Header/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/Table_Fixed_Header/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/Table_Fixed_Header/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script>
		$('.js-pscroll').each(function () {
			var ps = new PerfectScrollbar(this);

			$(window).on('resize', function () {
				ps.update();
			})
		});
	</script>
	<!--===============================================================================================-->
	<script src="~/Table_Fixed_Header/js/main.js"></script>
</body>




@section Scripts{
<script>
			$('#submit').on('click', function () {
				var fuck = new Date($('#fromDate').val());
				alert("date is " + date.getDate().toString());
				alert("year is " + date.getFullYear().toString());
				alert("month is" + date.getMonth().toString());
				@Model.searchFields.fromDate =new DateTime(fuck.getFullYear, fuck.getMonth, fuck.getDate);

			});

</script>





	<script>
		function testFunction(id) {
			window.location.href = "/home/details/"+id;

		}



	</script>



	<script>
		$(function () {

			$("#StaffDropDown").chosen(
				{
					width: "100%"
				});
			$("#HospitalDropDown").chosen();
			$("#PatientDropDown").chosen();
			$("#TypeDropDown").chosen();
		});


		function UpdateRooms(val)
		{
			var hospitalID = document.getElementById('HospitalDropDown').value;
			$.ajax({
			type: 'GET',
			dataType: "JSON",
			data: { hospitalID },
			url: '@Url.Action("UpdateRooms", "Dynamic")',
			success: function (result) {
			var dropdown = $('#RoomDropDown');
			dropdown.empty();
			dropdown.append($('<option></option>').val("error").html("Please select a room..."));
			$.each(result, function (i, room) {
			dropdown.append($('<option></option>').val(room.roomNO).html(room.roomNO));
			});

			}
			});
		}
	</script>



}